#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*----------------------------------------------------------------*/
/* header nav bar */
.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #000;
    background-color: #fbfcfd;
    z-index: 1000;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px; 
}

.header-nav button {
    display: none;
    background: none;
    border: none;
    padding: 0;
}

.header-home-button {
    margin-top: 5px;
    padding: 0px 0px 0px 3px;
    font-size: larger;
    color: #2f9ad0;
}

.awarePlus-img {
    width: 150px;
    height: 50px;
}

.home-icon {
    width: 30px;
    height: 30px;
}

.burger-menu {
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
    border: none;
    background-color: #fbfcfd;
}

.burger-menu:hover {
    background-color: rgba(155, 208, 216, 0.581); /* Adjust as needed */
}

.burger-menu:focus {
    outline-color: #00f; /* Adjust as needed */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px 0px 0px;
}

.header-login {
    align-items: center;
    padding: 12px 0px 0px 0px;
    color: #2f9ad0;
}

/* side bar left */
.side-nav {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 150px;
    border-right: 1px solid;
    padding: 30px 0;
    background-color: #fbfcfd;
}

.header-nav button {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #efebebbf;
    color: #0e0e0e;
  }

  @media (max-width: 700px) {
    .side-nav {
      display: none;
    }
    .header-nav button {
        display: block;
    }
    .view-post {
      left: 10px !important; 
    }
    .display-posts {
        left: 10px !important;
    }
  }
  
  /* When the side navigation bar is open, show it */
  .side-nav.open {
    display: block;
  }
/* home feed posts */
.display-posts {
    position: absolute;
    top: 50px;
    left: 160px;
    right: 0;
    bottom: 0;
    background-color: #f6f9fac2;
}

.each-post {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f6f9fac2;
    gap: 50px;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* margin-left: 10px; */
    gap: 10px;
}

.top-row {
    display: flex;
    justify-content: flex-start;
}

.post-date {
    font-size: 0.8em;
    color: #6e6d6d;
}

.post-title {
    font-size: 1.2em;
    color: #333;
    display: flex;
    justify-content: flex-start;
}

.post-preview, .post-preview-default {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.post-preview-default {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.bottom-row{
    display: flex;
    justify-content: flex-start;
}

.comment-count-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

/* view each post in detail page */
.view-post {
    min-height: 100vh;
    position: absolute;
    top: 70px;
    left: 180px;
    /* min-width: 950px; */
    /* padding-top: 50px;
    padding-left: 150px; */
    background-color: #ffffff;
    text-align: left;
    max-width: 800px;
    /* margin: auto; */
}

.view-user-id-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-id {
    margin-right: 10px;
}

.option-button {
    /* position: relative; */
    width: 20px;
    float: right;
    cursor: pointer;
}

/* .view-options-menu {
    position: relative;
    display: inline-block;
}

.view-options {
    display: none;
    position: absolute;
    right: 0;
    background-color: #9e2222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.view-options button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
} */


.view-post-image {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 600px;
    margin-bottom: 5px;
    border-right: 1px solid;
}

.view-title,
.view-post-details,
.view-post-text,
.view-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.view-post-text {
    border: 1px solid;
    width: 600px;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
    
}

.view-upvote-comment {
    display: flex;
    flex-direction: row;
}

.upvote-img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#comment {
    resize: none;
}

.view-to-comment-cancel {
    display: flex;
    flex-direction: row;
}
/*
.view-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    max-width: 800px;
}

.view-post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    max-width: 800px;
}

.view-post-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    max-width: 800px;
} */




/* comment section */
/* .view-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* option button for edits / delete */

/* create post overview */
.create-new-post {

}