#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*----------------------------------------------------------------*/

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #000;
    background-color: #85cdef2c;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; 
}

.header-home {
    padding: 5px 0px 0px 0px;
}

/*search bar label hidden*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px 0px 0px;
}

.header-login {
    align-items: center;
    padding: 12px 0px 0px 0px;
}

.side-nav {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 150px;
    border-right: 1px solid;
    padding: 5px;
    background-color: #85cdef2c;
}

.display-posts {
    position: absolute;
    top: 50px;
    left: 160px;
    right: 0;
    bottom: 0;
    background-color: #f6f9fac2;
}